:root {
    --bg0: #f8f0dc; /* Main background */
    --bg1: #f0e9cc; /* Secondary background, floating panels */
    --bg2: #e8dfc0; /* Selection background */
    --bg3: #ddd5b5; /* Line number background */
    --bg4: #d5ccac; /* Cursor line */
    --bg5: #c5bc9a; /* Non-text, line dividers */

    --fg: #5c6a72; /* Primary text */
    --fg-dim: #829181; /* Comments, subtle text */

    --red: #f85552; /* Keywords, errors */
    --orange: #f57d26; /* Operators, attributes */
    --yellow: #dfa000; /* Types, warnings */
    --green: #8da101; /* Strings, diff added */
    --teal: #35a77c; /* Functions, hints */
    --blue: #3a94c5; /* Properties, info */
    --purple: #df69ba; /* Numbers, constants */

    --accent: var(--green);

  --font-display: 'Playfair Display', Georgia, serif;
  --font-body: 'Lora', Georgia, serif;
  --font-mono: 'DM Mono', 'Courier New', monospace;
}

html.dark {
  --bg0: #272e33;
  --bg1: #2e383c;
  --bg2: #374145;
  --bg3: #414b50;
  --bg4: #495156;
  --bg5: #4f5b58;

  --fg: #d3c6aa;
  --fg-dim: #859289;

  --red: #e67e80;
  --orange: #e69875;
  --yellow: #dbbc7f;
  --green: #a7c080;
  --teal: #83c092;
  --blue: #7fbbb3;
  --purple: #d699b6;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg0);
  color: var(--fg);
  font-family: var(--font-display);
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-body);
    height: 100%;
    margin: 0;
}

main {
  width: 100%;
  max-width: 80ch;
  margin 0 auto;
  flex-grow: 1;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--fg)
}

a:hover,
a:focus,
nav a:hover,
nav a:focus {
    transition: all 0.2s ease;
  color: var(--accent);
}

nav {
    width: 100%;
    background: var(--bg0)09;
    position: sticky;
    top: 0;
    z-index: 100;
    border-top: 4px solid var(--accent);
    border-bottom: 1px solid var(--fg-dim);
    padding: 0px;
    backdrop-filter: blur(80px);
}

.nav-logo {
  text-decoration: none;
  color: var(--fg);
  font-family: var(--font-display);
  font-weight: bold;
}


.nav-links {
    width: auto;
    text-align: center;
}

.nav-links a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--fg-dim);
  padding: 0px 10px;
}


:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

